openapi: 3.0.3
info:
  title: N2YO Satellite Tracking Above Positions API
  description: The N2YO REST API provides data for software and web developers to build satellite tracking and prediction applications. The REST API v1 is free but transaction limited. All endpoints require an apiKey query parameter.
  version: 1.0.0
  contact:
    name: N2YO Support
    url: https://www.n2yo.com/api/
  license:
    name: N2YO API Terms
    url: https://www.n2yo.com/api/
servers:
- url: https://api.n2yo.com/rest/v1/satellite
  description: Production server
security:
- apiKey: []
tags:
- name: Positions
  description: Future satellite positions over an observer location.
paths:
  /positions/{id}/{observer_lat}/{observer_lng}/{observer_alt}/{seconds}:
    get:
      tags:
      - Positions
      summary: Get satellite positions
      description: Retrieves future positions of a satellite for the next N seconds (max 300) over an observer location.
      operationId: getPositions
      parameters:
      - $ref: '#/components/parameters/SatelliteId'
      - $ref: '#/components/parameters/ObserverLat'
      - $ref: '#/components/parameters/ObserverLng'
      - $ref: '#/components/parameters/ObserverAlt'
      - name: seconds
        in: path
        required: true
        description: Number of future seconds to return (max 300).
        schema:
          type: integer
          maximum: 300
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Position predictions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsResponse'
components:
  parameters:
    SatelliteId:
      name: id
      in: path
      required: true
      description: NORAD catalog number for the satellite.
      schema:
        type: integer
    ObserverLng:
      name: observer_lng
      in: path
      required: true
      description: Observer longitude in decimal degrees.
      schema:
        type: number
        format: float
    ObserverLat:
      name: observer_lat
      in: path
      required: true
      description: Observer latitude in decimal degrees.
      schema:
        type: number
        format: float
    ApiKey:
      name: apiKey
      in: query
      required: true
      description: Your N2YO API key.
      schema:
        type: string
    ObserverAlt:
      name: observer_alt
      in: path
      required: true
      description: Observer altitude in meters above sea level.
      schema:
        type: number
        format: float
  schemas:
    SatelliteInfo:
      type: object
      properties:
        satid:
          type: integer
        satname:
          type: string
        transactionscount:
          type: integer
    PositionsResponse:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/SatelliteInfo'
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'
    Position:
      type: object
      properties:
        satlatitude:
          type: number
        satlongitude:
          type: number
        sataltitude:
          type: number
        azimuth:
          type: number
        elevation:
          type: number
        ra:
          type: number
        dec:
          type: number
        timestamp:
          type: integer
        eclipsed:
          type: boolean
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: apiKey
